nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 48px;
    background-color: #eff2f7;
    height: 100vh;
    border-right: 1px solid #e0e0ff;
}