.profile-item {
  display: block;
  margin-top: 10px;
  padding: 2px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  transition: background .5s;
  overflow: hidden;
  cursor: pointer;
}
.profile-item:hover {
  background: #3358dd;
}
.profile-item img {
  width: 36px;
  border-radius: 50%;
}
.profile-box {
  position: absolute;
  left: 56px;
  bottom: 8px;
  width: 300px;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 14px rgba(0, 0, 0, .3);
  border-radius: 4px;
  z-index: 99;
}
.profile-box .box--title {
  text-align: left;
  padding: 8px 16px;
  border-bottom: 1px solid #e0e0ff;
}
.profile-box .box--title h6 {
  font-size: 14px;
  font-weight: 500;
}
.profile-box .box--title span {
  font-size: 12px;
  color: #666;
  padding-top: 2px;
  display: block;
}
.profile-box .box--menu {
  padding: 2px 0;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.profile-box .box--menu a {
  padding: 8px 16px;
  text-decoration: none;
  color: #666;
  font-size: 12px;
}
.profile-box .box--menu a:hover {
  background: #e9e9e9;
  color: #3358dd;
}
.profile-box .box--menu .box--menu_icon {
  margin-right: 8px;
  font-size: 16px;
  vertical-align: bottom;
}